<div class='about-us'>

  <h1 class='abouts us-title'>About us</h1>
  <h3 class='catchy-quote'>"I haven’t been everywhere, but it’s on my list”</h3>

  <p class='description-p1'>
    TuneIn is a project of a team of random individuals with the same passion for exploration and adventure. Travelling the
    world isn’t easy during a pandemic, but with TuneIn, you can travel the world through the prism of music and discover
    locations while staying safe in the comfort of your own home.
  </p>

  <p class='description-p1'>
    And for the days when you feel a like you’re on the top of the world, or the ones when you’re a little under the weather,
    we care. So tune in to receive carefully chosen jams to accompany you throughout the whole day.
  </p>
</div>
