<div class="playlist-container">
  <button class="playlist-button" type="button" (click)="showPlaylist = !showPlaylist"><label>playlist</label></button>
<!--  <div class="playlist" *ngIf="showPlaylist">-->
<!--    <div class="song-entry"  *ngFor="let song of songs">-->
<!--      <span class="title">{{song.title}}</span>-->
<!--      <span class="artist">{{song.artist}}</span>-->
<!--    </div>-->
<!--  </div>-->
  <iframe *ngIf="showPlaylist" class="spotify" src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>


