@font-face {
  font-family: abduction2002;
  src: url(../../../../assets/Fonts/abduction2002.ttf);
}
@font-face {
  font-family: commons-medium;
  src: url(../../../../assets/Fonts/TTCommons-Medium.ttf);
}
.header {
  background-color: #312244;
  height: fit-content;
  padding: 5px;
  width: 90%;
  position: fixed;
  border-radius: 0 0 30px 0;
  z-index: 100;
  opacity: 0.7;
  box-shadow: 10px 10px 28px 0px rgba(14, 13, 13, 0.75);
}
.logo-containter {
  height: fit-content;
  width: fit-content;
  float: left;
  padding-top: 30px;
}
.logo {
  font-size: 4.5em;
  font-family: abduction2002;
  color: #4c9ca9;
}
.icon_img {
  float: right;
  height: 100px;
  width: 100px;
}

.mood-popup {
  height: fit-content;
  width: fit-content;
  padding: 0px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  float: right;
  margin-right: 85px;
  position: fixed;
  z-index:100;
  right: 10%;
  top: 110px;
}
.mood-label {
  color: white;
  font-size: large;
  font-family: commons-medium;
  margin-bottom: 5px;
  cursor: pointer;
}
.mood-label:active {
  color: rgb(0, 182, 0);
}
.triangle {
  z-index: 101;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11.5px 24px 11.5px;
  border-color: transparent transparent black transparent;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.class-green {
  color: rgb(0, 182, 0);
}
.class-gray {
  color: rgb(61, 61, 61);
}

.icon {
  cursor: pointer;
}

.icon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  float: right;
  position: absolute;
}

#about_tooltip {
  right: 200px;
}
#home_tooltip {
  right: 300px;
}
#weather_tooltip {
  right: 0px;
}
#mood_tooltip {
  right: 100px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.icon:hover .tooltiptext {
  visibility: visible;
}
