<div class="header">
  <label class="logo">Tune In</label>
  <a href="#" class="weather tooltip">
    <span class="tooltiptext">Play a song according to your local weather</span>
    <img class="icon_img" src="../../../../assets/Icons/home.png"/>
  </a>
  <a href="#" class="weather tooltip">
    <span id="about_tooltip" class="tooltiptext">Play a song according to your local weather</span>
    <img class="icon_img" src="../../../../assets/Icons/about.png"/>
  </a>
  <a href="#" class="weather tooltip">
    <span id="weather_tooltip" class="tooltiptext">Play a song according to your local weather</span>
    <img class="icon_img" src="../../../../assets/Icons/broken clouds-01.png"/>
  </a>
  <a style="cursor: pointer" class="mood tooltip" (click)="show = !show">
    <span id="mood_tooltip" class="tooltiptext">Play a song according to your mood</span>
    <img class="icon_img" src="../../../../assets/Icons/happy.png" />
  </a>
</div>
<div class="header2" *ngIf="show">
  <div class="mood-popup">
    <div class="triangle"></div>
    <a class="mood-label">feel good</a>
    <a class="mood-label">festive</a>
    <a class="mood-label">happy</a>
    <a class="mood-label">moody</a>
    <a class="mood-label">productive</a>
    <a class="mood-label">relaxed</a>
    <a class="mood-label">sad</a>
  </div>
</div>
